In [3]:
import numpy as np
import pandas as pd

## SET A

### Q1. Find null values from dataset from github and remove them

In [4]:
dataset = pd.read_csv('https://raw.githubusercontent.com/YBI-Foundation/Dataset/refs/heads/main/Diabetes%20Missing%20Data.csv')
dataset.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [5]:
dataset.isna().sum()
dataset = dataset.fillna(dataset.mean())
dataset.isna().sum()

Pregnant             0
Glucose              0
Diastolic_BP         0
Skin_Fold            0
Serum_Insulin        0
BMI                  0
Diabetes_Pedigree    0
Age                  0
Class                0
dtype: int64

### Q2. Categorical values to numeric foramt

In [6]:
cat_Dataset = pd.read_csv('F:\RohanPracticals\DataMining\Rohan_RProgramming\Python\Heart_Disease_Prediction.csv')
cat_Dataset.head(5)

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\Admin\AppData\Local\Temp\ipykernel_864\589704815.py:1: SyntaxWarning: invalid escape sequence '\R'
  cat_Dataset = pd.read_csv('F:\RohanPracticals\DataMining\Rohan_RProgramming\Python\Heart_Disease_Prediction.csv')

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder = LabelEncoder()
cat_Dataset['Heart Disease'] = encoder.fit_transform(cat_Dataset['Heart Disease'])
type(cat_Dataset)
cat_DataFrame = pd.DataFrame(cat_Dataset)

## SET B

### Q1. Set values of column between 0 and 1

In [9]:
from sklearn.datasets import fetch_california_housing

In [10]:
cali_housing = fetch_california_housing(as_frame=True)
cali_housing_df = cali_housing.frame
cali_housing_df.head()
cols = cali_housing_df.columns
print(cols)

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'MedHouseVal'],
      dtype='object')

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
scaler = MinMaxScaler()
cali_housing_df = scaler.fit_transform(cali_housing_df)
cali_housing_df = pd.DataFrame(cali_housing_df, columns = cols)
cali_housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,0.539668,0.784314,0.043512,0.020469,0.008941,0.001499,0.567481,0.211155,0.902266
1,0.538027,0.392157,0.038224,0.018929,0.067210,0.001141,0.565356,0.212151,0.708247
2,0.466028,1.000000,0.052756,0.021940,0.013818,0.001698,0.564293,0.210159,0.695051
3,0.354699,1.000000,0.035241,0.021929,0.015555,0.001493,0.564293,0.209163,0.672783
4,0.230776,1.000000,0.038534,0.022166,0.015752,0.001198,0.564293,0.209163,0.674638

### Q2. Split dataset into training and test

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x = cali_housing_df.iloc[:,:-1]
x
y = cali_housing_df.iloc[:, -1]
y

0        0.902266
1        0.708247
2        0.695051
3        0.672783
4        0.674638
           ...
20635    0.130105
20636    0.128043
20637    0.159383
20638    0.143713
20639    0.153403
Name: MedHouseVal, Length: 20640, dtype: float64

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20)
print(x_train, x_test, y_train, y_test)

         MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  \
12259  0.095488  0.372549  0.025379   0.019982    0.048292  0.002006
11206  0.312244  0.686275  0.032774   0.019309    0.017826  0.002066
12556  0.047317  0.450980  0.017851   0.019355    0.015219  0.000953
16679  0.299934  0.117647  0.040918   0.025830    0.080159  0.001368
13831  0.350864  0.156863  0.047833   0.021679    0.060400  0.001734
...         ...       ...       ...        ...         ...       ...
7188   0.159777  0.862745  0.022203   0.020928    0.028084  0.002975
8713   0.390339  0.647059  0.035354   0.019047    0.035735  0.001927
4320   0.158770  0.901961  0.020697   0.023980    0.025729  0.000993
712    0.031986  0.549020  0.016994   0.022883    0.006446  0.000676
10677  0.253100  0.901961  0.031639   0.023328    0.030887  0.000971

       Latitude  Longitude
12259  0.132837   0.737052
11206  0.137088   0.640438
12556  0.638682   0.286853
16679  0.277365   0.369522
13831  0.209352   0.709163
...         ...        ...
7188   0.159405   0.615538
8713   0.139214   0.595618
4320   0.164718   0.597610
712    0.545165   0.226096
10677  0.106270   0.655378

[16512 rows x 8 columns]          MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  \
18834  0.107530  0.274510  0.028313   0.021571    0.052132  0.001168
4022   0.218969  0.823529  0.028533   0.022396    0.025982  0.001587
16194  0.088199  1.000000  0.024865   0.020049    0.018947  0.001200
15739  0.039799  0.313725  0.015658   0.020261    0.046722  0.000948
20381  0.406905  0.294118  0.037469   0.019112    0.018722  0.001136
...         ...       ...       ...        ...         ...       ...
4723   0.171611  0.784314  0.026174   0.021012    0.035007  0.001373
13899  0.038406  0.294118  0.049599   0.048848    0.012052  0.001634
18156  0.384671  0.666667  0.035959   0.022239    0.037557  0.001818
11712  0.166384  0.607843  0.051121   0.041039    0.012640  0.001191
17706  0.274431  0.274510  0.029317   0.020852    0.042714  0.002668

       Latitude  Longitude
18834  0.977683   0.173307
4022   0.174283   0.580677
16194  0.575983   0.303785
15739  0.556854   0.191235
20381  0.170032   0.549801
...         ...        ...
4723   0.160468   0.595618
13899  0.210414   0.758964
18156  0.512221   0.228088
11712  0.704570   0.418327
17706  0.506908   0.252988

[4128 rows x 8 columns] 12259    0.129280
11206    0.338764
12556    0.107218
16679    0.536082
13831    0.315052
           ...
7188     0.204125
8713     0.672577
4320     0.547629
712      0.298970
10677    0.739587
Name: MedHouseVal, Length: 16512, dtype: float64 18834    0.083919
4022     0.408454
16194    0.169898
15739    0.206187
20381    0.632577
           ...
4723     0.579587
13899    0.123713
18156    0.644329
11712    0.269692
17706    0.407217
Name: MedHouseVal, Length: 4128, dtype: float64

## SET C

### Q1. Do data preprocessing

In [16]:
ipl_data = pd.read_csv("https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/IPL/matches.csv")
ipl_data.info()
# ipl_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

In [17]:
ipl_data[ipl_data['city'].isna()]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
461,462,IPL-2014,NaN,19-04-2014,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary,NaN
462,463,IPL-2014,NaN,19-04-2014,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni,NaN
466,467,IPL-2014,NaN,23-04-2014,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth,NaN
468,469,IPL-2014,NaN,25-04-2014,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi,NaN
469,470,IPL-2014,NaN,25-04-2014,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus,NaN
474,475,IPL-2014,NaN,28-04-2014,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi,NaN
476,477,IPL-2014,NaN,30-04-2014,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus,NaN

In [18]:
ipl_data['city'].fillna("Dubai Sports City", inplace = True)
ipl_data.isna().sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_864\3329818090.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ipl_data['city'].fillna("Dubai Sports City", inplace = True)

id                   0
Season               0
city                 0
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [19]:
ipl_data[ipl_data['winner'].isna()]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,IPL-2011,Delhi,21-05-2011,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,IPL-2015,Bangalore,29-04-2015,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,IPL-2015,Bangalore,17-05-2015,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,IPL-2019,Bengaluru,30-04-2019,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [20]:
ipl_data['winner']= ipl_data['winner'].fillna("no result")
ipl_data['player_of_match'] = ipl_data['player_of_match'].fillna("no result")
# ipl_data['winner', 'player_of_match'] = ipl_data['winner', 'player_of_match'].fillna("no result")

In [21]:
ipl_data.isna().sum()

id                   0
Season               0
city                 0
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               0
win_by_runs          0
win_by_wickets       0
player_of_match      0
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [22]:
ipl_data['result'] = encoder.fit_transform(ipl_data['result'])
ipl_data = pd.DataFrame(ipl_data)
ipl_data.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,1,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,1,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,1,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,1,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,1,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [23]:
x = ipl_data.drop(columns='result')
y = ipl_data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20)
print(x_train, x_test, y_train, y_test)

        id    Season       city        date                  team1  \
321    322  IPL-2012    Kolkata  13-04-2012       Rajasthan Royals
114    115  IPL-2008     Mumbai  30-05-2008       Rajasthan Royals
308    309  IPL-2012    Kolkata  05-04-2012  Kolkata Knight Riders
221    222  IPL-2010    Chennai  13-04-2010  Kolkata Knight Riders
98      99  IPL-2008     Mumbai  16-05-2008  Kolkata Knight Riders
..     ...       ...        ...         ...                    ...
228    229  IPL-2010      Delhi  18-04-2010        Deccan Chargers
689   7947  IPL-2018  Hyderabad  19-05-2018    Sunrisers Hyderabad
739  11335  IPL-2019    Chennai  26-04-2019         Mumbai Indians
506    507  IPL-2014     Ranchi  22-05-2014    Chennai Super Kings
87      88  IPL-2008    Kolkata  08-05-2008  Kolkata Knight Riders

                           team2            toss_winner toss_decision  \
321        Kolkata Knight Riders       Rajasthan Royals           bat
114             Delhi Daredevils       Delhi Daredevils         field
308             Delhi Daredevils       Delhi Daredevils         field
221          Chennai Super Kings  Kolkata Knight Riders           bat
98                Mumbai Indians         Mumbai Indians         field
..                           ...                    ...           ...
228             Delhi Daredevils        Deccan Chargers           bat
689        Kolkata Knight Riders    Sunrisers Hyderabad           bat
739          Chennai Super Kings    Chennai Super Kings         field
506          Sunrisers Hyderabad    Sunrisers Hyderabad         field
87   Royal Challengers Bangalore  Kolkata Knight Riders           bat

     dl_applied                 winner  win_by_runs  win_by_wickets  \
321           0  Kolkata Knight Riders            0               5
114           0       Rajasthan Royals          105               0
308           0       Delhi Daredevils            0               8
221           0    Chennai Super Kings            0               9
98            0         Mumbai Indians            0               8
..          ...                    ...          ...             ...
228           0        Deccan Chargers           11               0
689           0  Kolkata Knight Riders            0               5
739           0         Mumbai Indians           46               0
506           0    Sunrisers Hyderabad            0               6
87            0  Kolkata Knight Riders            5               0

     player_of_match                                      venue  \
321  Shakib Al Hasan                               Eden Gardens
114        SR Watson                           Wankhede Stadium
308        IK Pathan                               Eden Gardens
221         R Ashwin            MA Chidambaram Stadium, Chepauk
98        SM Pollock                           Wankhede Stadium
..               ...                                        ...
228        A Symonds                           Feroz Shah Kotla
689          CA Lynn  Rajiv Gandhi International Stadium, Uppal
739        RG Sharma                  M. A. Chidambaram Stadium
506        DA Warner         JSCA International Stadium Complex
87        SC Ganguly                               Eden Gardens

            umpire1          umpire2          umpire3
321       Asad Rauf         S Asnani              NaN
114       BF Bowden      RE Koertzen              NaN
308        S Asnani  HDPK Dharmasena              NaN
221       SS Hazare       SJA Taufel              NaN
98      BR Doctrove        DJ Harper              NaN
..              ...              ...              ...
228     BR Doctrove      SK Tarapore              NaN
689  Anil Chaudhary           S Ravi    Anil Dandekar
739     Nigel Llong   Anil Chaudhary  Vineet Kulkarni
506    BNJ Oxenford    C Shamshuddin              NaN
87        Asad Rauf        IL Howell              NaN

[604 rows x 17 columns]         id    Season        city        date                        team1  \
701  11142  IPL-2019     Kolkata  27-03-2019        Kolkata Knight Riders
310    311  IPL-2012      Jaipur  06-04-2012             Rajasthan Royals
621    622  IPL-2016  Chandigarh  15-05-2016              Kings XI Punjab
659   7917  IPL-2018   Bengaluru  25-04-2018  Royal Challengers Bangalore
245    246  IPL-2011      Jaipur  15-04-2011             Rajasthan Royals
..     ...       ...         ...         ...                          ...
664   7922  IPL-2018   Bengaluru  29-04-2018  Royal Challengers Bangalore
181    182  IPL-2010     Kolkata  16-03-2010          Chennai Super Kings
709  11150  IPL-2019      Jaipur  02-04-2019  Royal Challengers Bangalore
683   7941  IPL-2018      Indore  14-05-2018              Kings XI Punjab
127    128  IPL-2009      Durban  25-04-2009              Deccan Chargers

                           team2                  toss_winner toss_decision  \
701              Kings XI Punjab              Kings XI Punjab         field
310              Kings XI Punjab              Kings XI Punjab         field
621          Sunrisers Hyderabad              Kings XI Punjab           bat
659          Chennai Super Kings          Chennai Super Kings         field
245        Kolkata Knight Riders        Kolkata Knight Riders         field
..                           ...                          ...           ...
664        Kolkata Knight Riders        Kolkata Knight Riders         field
181        Kolkata Knight Riders          Chennai Super Kings           bat
709             Rajasthan Royals             Rajasthan Royals         field
683  Royal Challengers Bangalore  Royal Challengers Bangalore         field
127               Mumbai Indians              Deccan Chargers           bat

     dl_applied                       winner  win_by_runs  win_by_wickets  \
701           0        Kolkata Knight Riders           28               0
310           0             Rajasthan Royals           31               0
621           0          Sunrisers Hyderabad            0               7
659           0          Chennai Super Kings            0               5
245           0        Kolkata Knight Riders            0               9
..          ...                          ...          ...             ...
664           0        Kolkata Knight Riders            0               6
181           0          Chennai Super Kings           55               0
709           0             Rajasthan Royals            0               7
683           0  Royal Challengers Bangalore            0              10
127           0              Deccan Chargers           12               0

    player_of_match                                              venue  \
701      AD Russell                                       Eden Gardens
310       AM Rahane                             Sawai Mansingh Stadium
621         HM Amla  Punjab Cricket Association IS Bindra Stadium, ...
659        MS Dhoni                              M Chinnaswamy Stadium
245       G Gambhir                             Sawai Mansingh Stadium
..              ...                                                ...
664         CA Lynn                              M Chinnaswamy Stadium
181        MS Dhoni                                       Eden Gardens
709         S Gopal                             Sawai Mansingh Stadium
683        UT Yadav                             Holkar Cricket Stadium
127         PP Ojha                                          Kingsmead

                   umpire1                umpire2                umpire3
701         Anil Chaudhary        Vineet Kulkarni         Chris Gaffaney
310              BF Bowden            SK Tarapore                    NaN
621  KN Ananthapadmanabhan              M Erasmus                    NaN
659            Nigel Llong  Virender Kumar Sharma         Anil Chaudhary
245              Aleem Dar              SS Hazare                    NaN
..                     ...                    ...                    ...
664            Nigel Llong         Anil Chaudhary  Virender Kumar Sharma
181        HDPK Dharmasena              AM Saheba                    NaN
709         Marais Erasmus          Anil Dandekar            Nitin Menon
683         Bruce Oxenford  Virender Kumar Sharma               O Nandan
127        HDPK Dharmasena             SJA Taufel                    NaN

[152 rows x 17 columns]         id    Season       city        date                  team1  \
321    322  IPL-2012    Kolkata  13-04-2012       Rajasthan Royals
114    115  IPL-2008     Mumbai  30-05-2008       Rajasthan Royals
308    309  IPL-2012    Kolkata  05-04-2012  Kolkata Knight Riders
221    222  IPL-2010    Chennai  13-04-2010  Kolkata Knight Riders
98      99  IPL-2008     Mumbai  16-05-2008  Kolkata Knight Riders
..     ...       ...        ...         ...                    ...
228    229  IPL-2010      Delhi  18-04-2010        Deccan Chargers
689   7947  IPL-2018  Hyderabad  19-05-2018    Sunrisers Hyderabad
739  11335  IPL-2019    Chennai  26-04-2019         Mumbai Indians
506    507  IPL-2014     Ranchi  22-05-2014    Chennai Super Kings
87      88  IPL-2008    Kolkata  08-05-2008  Kolkata Knight Riders

                           team2            toss_winner toss_decision  result  \
321        Kolkata Knight Riders       Rajasthan Royals           bat       1
114             Delhi Daredevils       Delhi Daredevils         field       1
308             Delhi Daredevils       Delhi Daredevils         field       1
221          Chennai Super Kings  Kolkata Knight Riders           bat       1
98                Mumbai Indians         Mumbai Indians         field       1
..                           ...                    ...           ...     ...
228             Delhi Daredevils        Deccan Chargers           bat       1
689        Kolkata Knight Riders    Sunrisers Hyderabad           bat       1
739          Chennai Super Kings    Chennai Super Kings         field       1
506          Sunrisers Hyderabad    Sunrisers Hyderabad         field       1
87   Royal Challengers Bangalore  Kolkata Knight Riders           bat       1

     dl_applied                 winner  win_by_runs  win_by_wickets  \
321           0  Kolkata Knight Riders            0               5
114           0       Rajasthan Royals          105               0
308           0       Delhi Daredevils            0               8
221           0    Chennai Super Kings            0               9
98            0         Mumbai Indians            0               8
..          ...                    ...          ...             ...
228           0        Deccan Chargers           11               0
689           0  Kolkata Knight Riders            0               5
739           0         Mumbai Indians           46               0
506           0    Sunrisers Hyderabad            0               6
87            0  Kolkata Knight Riders            5               0

     player_of_match                                      venue  \
321  Shakib Al Hasan                               Eden Gardens
114        SR Watson                           Wankhede Stadium
308        IK Pathan                               Eden Gardens
221         R Ashwin            MA Chidambaram Stadium, Chepauk
98        SM Pollock                           Wankhede Stadium
..               ...                                        ...
228        A Symonds                           Feroz Shah Kotla
689          CA Lynn  Rajiv Gandhi International Stadium, Uppal
739        RG Sharma                  M. A. Chidambaram Stadium
506        DA Warner         JSCA International Stadium Complex
87        SC Ganguly                               Eden Gardens

            umpire1          umpire2          umpire3
321       Asad Rauf         S Asnani              NaN
114       BF Bowden      RE Koertzen              NaN
308        S Asnani  HDPK Dharmasena              NaN
221       SS Hazare       SJA Taufel              NaN
98      BR Doctrove        DJ Harper              NaN
..              ...              ...              ...
228     BR Doctrove      SK Tarapore              NaN
689  Anil Chaudhary           S Ravi    Anil Dandekar
739     Nigel Llong   Anil Chaudhary  Vineet Kulkarni
506    BNJ Oxenford    C Shamshuddin              NaN
87        Asad Rauf        IL Howell              NaN

[604 rows x 18 columns]         id    Season        city        date                        team1  \
701  11142  IPL-2019     Kolkata  27-03-2019        Kolkata Knight Riders
310    311  IPL-2012      Jaipur  06-04-2012             Rajasthan Royals
621    622  IPL-2016  Chandigarh  15-05-2016              Kings XI Punjab
659   7917  IPL-2018   Bengaluru  25-04-2018  Royal Challengers Bangalore
245    246  IPL-2011      Jaipur  15-04-2011             Rajasthan Royals
..     ...       ...         ...         ...                          ...
664   7922  IPL-2018   Bengaluru  29-04-2018  Royal Challengers Bangalore
181    182  IPL-2010     Kolkata  16-03-2010          Chennai Super Kings
709  11150  IPL-2019      Jaipur  02-04-2019  Royal Challengers Bangalore
683   7941  IPL-2018      Indore  14-05-2018              Kings XI Punjab
127    128  IPL-2009      Durban  25-04-2009              Deccan Chargers

                           team2                  toss_winner toss_decision  \
701              Kings XI Punjab              Kings XI Punjab         field
310              Kings XI Punjab              Kings XI Punjab         field
621          Sunrisers Hyderabad              Kings XI Punjab           bat
659          Chennai Super Kings          Chennai Super Kings         field
245        Kolkata Knight Riders        Kolkata Knight Riders         field
..                           ...                          ...           ...
664        Kolkata Knight Riders        Kolkata Knight Riders         field
181        Kolkata Knight Riders          Chennai Super Kings           bat
709             Rajasthan Royals             Rajasthan Royals         field
683  Royal Challengers Bangalore  Royal Challengers Bangalore         field
127               Mumbai Indians              Deccan Chargers           bat

     result  dl_applied                       winner  win_by_runs  \
701       1           0        Kolkata Knight Riders           28
310       1           0             Rajasthan Royals           31
621       1           0          Sunrisers Hyderabad            0
659       1           0          Chennai Super Kings            0
245       1           0        Kolkata Knight Riders            0
..      ...         ...                          ...          ...
664       1           0        Kolkata Knight Riders            0
181       1           0          Chennai Super Kings           55
709       1           0             Rajasthan Royals            0
683       1           0  Royal Challengers Bangalore            0
127       1           0              Deccan Chargers           12

     win_by_wickets player_of_match  \
701               0      AD Russell
310               0       AM Rahane
621               7         HM Amla
659               5        MS Dhoni
245               9       G Gambhir
..              ...             ...
664               6         CA Lynn
181               0        MS Dhoni
709               7         S Gopal
683              10        UT Yadav
127               0         PP Ojha

                                                 venue                umpire1  \
701                                       Eden Gardens         Anil Chaudhary
310                             Sawai Mansingh Stadium              BF Bowden
621  Punjab Cricket Association IS Bindra Stadium, ...  KN Ananthapadmanabhan
659                              M Chinnaswamy Stadium            Nigel Llong
245                             Sawai Mansingh Stadium              Aleem Dar
..                                                 ...                    ...
664                              M Chinnaswamy Stadium            Nigel Llong
181                                       Eden Gardens        HDPK Dharmasena
709                             Sawai Mansingh Stadium         Marais Erasmus
683                             Holkar Cricket Stadium         Bruce Oxenford
127                                          Kingsmead        HDPK Dharmasena

                   umpire2                umpire3
701        Vineet Kulkarni         Chris Gaffaney
310            SK Tarapore                    NaN
621              M Erasmus                    NaN
659  Virender Kumar Sharma         Anil Chaudhary
245              SS Hazare                    NaN
..                     ...                    ...
664         Anil Chaudhary  Virender Kumar Sharma
181              AM Saheba                    NaN
709          Anil Dandekar            Nitin Menon
683  Virender Kumar Sharma               O Nandan
127             SJA Taufel                    NaN

[152 rows x 18 columns]